<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rocks.voss.beatthemeat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/beatthemeat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/beatthemeat_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ThermometerSettingsActivity" />
        <activity android:name=".activities.AppSettingsActivity" />

        <service
            android:name=".services.TemperatureCollectionService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.NotificationSoundService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".services.DismissReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>
    </application>

</manifest>